header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-size: cover;
  background-position: center;
  background-image: url('../images/homephoto.jpg');
  text-align: center;
  color: white;
}

img {
  width: 50%;
  height: auto;
  display: block;
  float: top;
  padding: 500px, 50px, 10px, auto;
}

.name {
  font-size: 4em;
  font-weight: 700;
  text-shadow: 4px 4px 1px Black;
}

.skills {
  font-size: 1.5em;
  font-weight: 100;
  text-shadow: 3px 3px 0px Black;
}
  
.header-content-inner {
  position: relative;
  top: +600px;
}

hr.star-light, hr.star-light-about, hr.star-light-bands, hr.star-light-shows, hr.star-light-workshops {
    /*padding: 0;
    border: none;*/
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 5px auto 15px;
}

hr.star-light:after, hr.star-light-about:after, hr.star-light-bands:after, hr.star-light-shows:after, hr.star-light-workshops:after  {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light, hr.star-light-bands {
  border-color: white;
  

}
hr.star-light:after {
  background-color: black;
  color: white;
  text-shadow: 3px 3px 0px Black;
}

hr.star-light-about:after, hr.star-light-shows:after {
    background-color:#DCCDB0;
    color: black;
}

hr.star-light-bands:after{
  background-color:#3A1212;
    color: white;
}


hr.star-light-workshops:after{
  background-color:white;
    color: black;
}

.img-centered {
  margin: 0 auto;
}

section {
  padding: 50px 100px;
}


 section h2 {
     text-decoration: bold;
     font-size: 40px;
     text-align: center;
 }

#bands h2 {
    color: white;
}
.section-title {
    padding-bottom: 50px;
    padding-top: 15px;
}

.about-content img {
    width:40%;
    float: right;
    padding-left:23;
    padding-top: 7px;
}
.about p {
    display: block;
    text-align: justify;
    padding-top: 30px;
    text-decoration: black;
}

#about {
    background-image: url("../images/aboutbackground.jpg");
    background-size: cover;
    background-position: center;
}

#bands {
    background-image: url("../images/backgroundmusic1.jpg");
    background-size: cover;
    background-position: center;
}
 
#shows {
    background-image: url("../images/backgroundmusic7.jpg");
    background-size: cover;
    background-position: center;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  #mainNav{
    background: rgba(0, 0, 0, 0.6);
  }
  .container {
    padding-right: 20px;
}

.row{
  clear: both;
  padding-left: 50px;
}
  .col-sm-6 {
            max-height: 400px;
            width: 500px;
            margin: 20px 20px;
            /*background: rgb(255, 150, 150);*/
            padding:0;
            float: left;
}

.col-sm-4 {
            max-height: 300px;
            width: 30%;
            margin: 10px 10px;
            /*background: rgb(255, 150, 150);*/
            padding:0;
            float: left;
}

.col-sm-6 img, .col-sm-4 img {
  height: 100%;
  width: 100%;
}


.caption {
  background: #843737;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#shows .caption {
  background: #381201;

}
.caption:hover{
  opacity: 0.8;
}

.caption-content{
  position: absolute;
  width: 100%;
  height: 20px;
  text-align: center;
  top: 25%;
  color: white;
}

i {
  margin: 50px;
}

.project-name {
  font-size: 32px;
  font-style: 
}

/*#bands .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
  #bands .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#bands * {
  z-index: 2;
}
#bands .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}

#bandsortfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#bands .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}

@media (min-width: 767px) {
  #bands .portfolio-item {
    margin: 0 0 30px;
  }
}*/
