header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-size: cover;
  background-position: center;
  background-image: url('../images/homephoto.jpg');
  text-align: center;
  color: white;
}

img {
  width: 50%;
  height: auto;
  display: block;
  float: top;
  padding: 500px, 50px, 10px, auto;
}

.name {
  font-size: 4em;
  font-weight: 700;
  text-shadow: 4px 4px 1px Black;
}

.skills {
  font-size: 1.5em;
  font-weight: 100;
  text-shadow: 3px 3px 0px Black;
}
  
.header-content-inner {
  position: relative;
  top: +500px;
}

hr.star-light {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 5px auto 10px;
}

hr.star-light:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: black;
  color: white;
}
.img-centered {
  margin: 0 auto;
}




@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
 #mainNav{
    background: rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: ) {
  
}