
header {
  text-align: center;
  background: #18BC9C;
  color: white;
  background-size: cover;
  background-position: center;
  background-image: url (images/homephoto.jpg)
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
