.main-menu ul{
    padding: 0px;
}

.main-menu ul li {
    display: inline;
    text-align: center;
}

.main-menu ul li a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-menu a {
    background-color: lightcyan;
}