hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #18BC9C;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
  

section {
  padding: 100px 0;
}

section hr.star-light:after {
  background-color: white;
  color: black;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background-color: white;
  text-decoration: black;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
section img {
    list-style-type: none;
    border: black;
    border-style: solid;
    width:25%;
    float: right;
    margin: 0 20 10 20;
}

.about p {
    display: block;
    text-align: justify;
}

a:hover {
    color: saddlebrown;
}

.bands ul{
    list-style-type: none;
    display: block;
    float: left;
}

.bands ul li {
    margin: 2cm;
}

.bands ul li img {
    border: green;
    border-style: solid;
    width:25%;
    float: right;
    clear: both;
    margin: 100px, 50px;
}

.shows-projects ul li img{
    border: green;
    border-style: solid;
    width:25%;
    float: right;
    clear: both;
    margin: 100px, 50px;
}

.workshops ul{
    list-style-type: none;
    display: block;
    float: left;
}

.workshops ul li {
    margin: 2cm;
}

.workshops ul li img {
    border: green;
    border-style: solid;
    width:25%;
    float: right;
    clear: both;
    margin: 100px, 50px;
}
