.header {
    text-align: center;
    padding:10px,20px;
    background-color: grey;
    background: url (images/homephoto.jpg)
    background-size: contain;
}

h1 {
    display: block;
    float: center;
    font-size: 80px;
    font-weight: bold;
    line-height: 10px;   
}

h2 {
    color: royalblue;
}

.about {
    display: block;
    border: darkred;
    border-style: solid;
    padding: 20px 50px;
    margin: 100px 20px 100px 20px;
}

.about img {
    list-style-type: none;
    border: black;
    border-style: solid;
    width:25%;
    float: right;
    margin: 0 00 10 20;
}

.about p {
    display: block;
    text-align: justify;
}

a:hover {
    color: saddlebrown;
}

.bands ul{
    list-style-type: none;
    display: block;
    float: left;
}

.bands ul li {
    margin: 2cm;
}

.bands ul li img {
    border: green;
    border-style: solid;
    width:25%;
    float: right;
    clear: both;
    margin: 100px, 50px;
}

.shows-projects ul li img{
    border: green;
    border-style: solid;
    width:25%;
    float: right;
    clear: both;
    margin: 100px, 50px;
}

.workshops ul{
    list-style-type: none;
    display: block;
    float: left;
}

.workshops ul li {
    margin: 2cm;
}

.workshops ul li img {
    border: green;
    border-style: solid;
    width:25%;
    float: right;
    clear: both;
    margin: 100px, 50px;
}
